/****************************NAVBAR********************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(180deg, rgba(22,20,50,1) 0%, rgba(9,9,121,1) 51%, rgba(0,0,0,0.4962156488654319) 100%),url("images/Zamboanga_International_Airport.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.logo-1 {
    width: 7%;
}
.logo-2 {
    width: 7%;
}
.logos {
    display: inline-block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.republic {
    display: inline-block;
    margin-left: 10px;
    
}
.navbar {
    background-color: #fff;
}

.nav-item {
    text-align: center;
}
#navbarNav li:nth-child(4) .nav-link{
    
    text-align: center;
    margin-left: 20px;
}
#navbarNav li:nth-child(3) .nav-link{
    
    text-align: center;
    margin-left: 20px;
}
#navbarNav li:nth-child(2) .nav-link{
  
    text-align: center;
    margin-left: 20px;
}
#navbarNav li:nth-child(1) .nav-link{
   
    margin-left: 20px;
    text-align: center;
}
.navbar-toggler-icon {
    color: #333;
}
/*************************END OF NAVBAR*******************************/


/********************Landing Image********************************/
/* .landing-image-home {
    background-image: linear-gradient(180deg, rgba(22,20,50,1) 0%, rgba(9,9,121,1) 51%, rgba(0,0,0,0.4962156488654319) 100%),url("images/Zamboanga_International_Airport.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
} */

.heading-text {
    color: #fff; 
}
.heading-text h1 {
    font-size: 4rem;
}


/*media query for homepage*/
@media screen and (max-width: 360px) {
    .republic span {
        font-size: 13px;
    }
    .heading-text {
        margin-top: 50px;
    }
    .heading-text h1 {
        color: #fff; 
        font-size: 20px;
        text-align: center;
    }
    button.btn {
        background: #fff;
        color: #000;
        font-size: 12px;
        width: 30%;
        margin: auto;
        display: block;
        margin-bottom: 30px;
    }
    .logo-3 {
        margin: auto;
        text-align: center;
        display: flex;
        width: 50%;
    }
   
}
@media  screen and (min-width: 361px) {
    
    .republic span {
        font-size: 13px
    }
    .heading-text {
        margin-top: 100px;
    }
    .heading-text h1 {
        margin-left: 30px;
        text-align: left;
    }
    button.btn {
        background: #fff;
        color: #000;
        font-size: 12px;
        width: 30%;
        margin: auto;
        display: block;
        margin-top: 30px;
    }
    .logo-3 {
        margin-top: 100px;
        text-align: center;
        display: flex;
        width: 70%;
    }
    #navbarNav li:nth-child(4) .nav-link{
        font-size: 20px;
        
        text-align: center;
        margin-left: 20px;
    }
    #navbarNav li:nth-child(3) .nav-link{
        font-size: 20px;
       
        text-align: center;
        margin-left: 20px;
    }
    #navbarNav li:nth-child(2) .nav-link{
        font-size: 20px;
       
        text-align: center;
        margin-left: 20px;
    }
    #navbarNav li:nth-child(1) .nav-link{
        font-size: 13px;
       
        margin-left: 20px;
        text-align: center;
    }
}
@media  screen and (min-width: 768px) {
    .republic span {
        font-size: 20px;
        font-weight: bold;
    }
    .heading-text {
        margin-top: 90px;
    }
    .heading-text h1 {
        margin-left: 70px;
        
        text-align: left;
    }
    button.btn {
        background: #fff;
        color: #000;
        font-size: 15px;
        display: block;
        margin-top: 30px;
    }
    .logo-3 {
        margin-top: 90px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: flex;
        width: 70%;
    }
    #navbarNav li:nth-child(4) .nav-link{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin-left: 20px;
    }
    #navbarNav li:nth-child(3) .nav-link{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin-left: 20px;
    }
    #navbarNav li:nth-child(2) .nav-link{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin-left: 20px;
    }
    #navbarNav li:nth-child(1) .nav-link{
        font-size: 20px;
        font-weight: bold;
        margin-left: 20px;
        text-align: center;
    }
}
/**************************END OF LANDING************************/

/*************************About Page**************************************/
.about-header {
    text-align: center;
    color: #fff;
    max-width: 50%
}
/* .landing-image-about {
    background-image: linear-gradient(180deg, rgba(22,20,50,1) 0%, rgba(9,9,121,1) 51%, rgba(0,0,0,0.4962156488654319) 100%),url("images/Zamboanga_International_Airport.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
} */
@media screen and (max-width: 360px) {
    .about-header h1 {
        text-align: center;
        font-size: 30px;
    }
    .about-header {
        margin-top: 50px;
        text-align: justify;
        max-width: 80%;
        font-size: 12px;
    }
    /* .landing-image-about{
        height: auto;
    } */
}
@media screen and (min-width: 768px) {
    .about-header h1 {
        margin-top: 30px;
        text-align: center;
        font-size: 30px;
    }
}

/*****************************************Login Page******************************/
/* .landing-image-login {
    background-image: linear-gradient(180deg, rgba(22,20,50,1) 0%, rgba(9,9,121,1) 51%, rgba(0,0,0,0.4962156488654319) 100%),url("images/Zamboanga_International_Airport.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
} */
.login-form {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    
}
button.login-btn {
    width: 100%;
    background-color: #0e0099;
    color: #fff;
    border: none
}
@media screen and (max-width: 360px) {
    /* .landing-image-login {
        background-image: linear-gradient(180deg, rgba(22,20,50,1) 0%, rgba(9,9,121,1) 51%, rgba(0,0,0,0.4962156488654319) 100%),url("images/Zamboanga_International_Airport.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
    } */
    .heading-text .login-form{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    button.login-btn {
        margin-top: 20px;
        width: 100%;
        background-color: #0e0099;
        color: #fff;
        border: none
    }
   
}
@media screen and (min-width: 768px) {
    .login-form{
        margin: auto;
    }
    .login-form .form-group h1 {
        font-size: 2.5rem;
        margin: auto;
        text-align: center;
    }
}
/*********************************contact page**************************************/
/* .landing-image-contact {
    background-image: linear-gradient(180deg, rgba(22,20,50,1) 0%, rgba(9,9,121,1) 51%, rgba(0,0,0,0.4962156488654319) 100%),url("images/Zamboanga_International_Airport.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
} */
.contact {
    position: relative;
    min-height: 10vh;
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}
.contact .content h2 {
    font-size: 36px;
    color: #fff;
}
.contact .content p {
    color: #fff;
}
.contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.contact-container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contact-container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;

}
.contact-container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 22px;
}
.contact-container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: bold;
}
.contact-container .contactInfo .box .text h3 {
    
    color: #00bcd6
}
.contactForm {
    width: 40%;
    padding: 20px;
    background: #fff;
}
.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: bold;
}
.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input, .contactForm .inputBox textarea  {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:valid ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
}
@media (max-width: 991px) {
    .contact {
        padding: 50px;
    }
    .contact-container {
        flex-direction: column;
    }
    .contact-container .contactInfo{
        margin-bottom: 40px;
    }
    .contact-container .contactInfo, .contactForm {
        width: 100%;
    }
}
@media screen and (max-width: 360px) {
    .landing-image-contact{
        height: auto;
    }
    .contact .content h2 {
        text-align: center;
        font-size: 30px;
    }
    .contact .content p {
        color: #fff;
        text-align: justify;
    }
    
}
@media screen and (min-width: 768px) {
    /* .landing-image-contact{
        height: auto;
    } */
}